<ul class="navbar">
  <li class="leftNav"><a href="/">Logo</a><li>
  <li><a>About</a></li>
  <li><a href="javascript:;" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInDown">
    Signup/Login
  </a></li>
</ul>
