/* a {
  flex: 1;
} */

/* classes */
.mainContent {
  margin: 20px 7% 20px 7%;
}

.row-third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-row {
  height: 85vh;
}

.col {
  width: 25%;
  /* margin-bottom: 5px; */
}

.col-down {
  display: flex;
  flex-direction: column;
}

.col-down-left {
  width: 67.5%;
  margin-right: 10px;
}

.col-down-right {
  width: 27.5%;
  margin-left: 10px;
  flex: 1;
}

.sectionHeader {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.topicContainer {
  display: flex;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, .9);
  color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 10px;
  border-radius: 7px;
}

.topicImage {
  flex: 1;
  position: relative;
  width:  100%;
  height: 200px;
  border-radius: 7px;
  transition: .3s ease-in;
}

.topicOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 7px;
  transform: translate(-50%, -50%);
}

.topicImageTextContainer {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-20%, -50%);
}

.topicImageText {
  font-size: 20px;
  margin-left: 10px;
}

.topicImageDesc {
  margin-left: 10px;
}

.middleImage {
  margin-left: 2%;
  margin-right: 2%;
}

.topicContainer:hover .topicImage,
.topicContainer:focus .topicImage {
  transform: scale(1.2);
}

.topicDesc {
  margin-left: 10px;
}

.invisible {
  visibility: hidden;
}

.next-Set {
  margin-top: 80px;
}

/* For Smaller Desktop Sizes */
@media only screen and (max-width: 1100px){
  .col {
    width: 33%;
  }

  .main-row {
    height: 60vh;
  }

}

/* For Small Desktop Sizes */
@media only screen and (max-width: 824px){
  .col {
    width: 50%;
  }

  .col-down-left {
    width: 100%;
  }

  .main-row {
    height: 90vh;
  }


}

/* For Devices Sizes */
@media only screen and (max-width: 480px){
  .col {
    width: 100%;
  }

  .main-row {
    height: 84vh;
  }

}
